<app-vertical-page [backButton]="true">
  <div page>
    <mat-form-field>
      <input matInput placeholder="Search" [formControl]="search" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <app-world-object-list [items]="items$ | async"></app-world-object-list>
    <mat-paginator
      [pageIndex]="pageIndex$ | async"
      [pageSize]="pageSize$ | async"
      [length]="length$ | async"
      (page)="pageIndex$.next($event.pageSize)"
    >
    </mat-paginator>
  </div>
</app-vertical-page>
