<mat-toolbar>
  <div class="container">
    <a *ngIf="backButton; else noButton" mat-icon-button [routerLink]="['..']">
      <mat-icon>arrow_back</mat-icon>
    </a>
    <h1>
      {{ header }}
    </h1>
    <a
      *ngIf="createButton; else noButton"
      mat-icon-button
      [routerLink]="['/create']"
    >
      <mat-icon>add</mat-icon>
    </a>
  </div>
</mat-toolbar>
<mat-drawer-container [hasBackdrop]="true">
  <mat-drawer #drawer mode="over" position="start"> </mat-drawer>
  <mat-drawer-content>
    <ng-content select="[page]"></ng-content>
  </mat-drawer-content>
</mat-drawer-container>
<ng-template #noButton>
  <a mat-icon-button disabled></a>
</ng-template>
