:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

mat-toolbar {
  position: sticky;
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0b7443 0, #0b57f1);
  color: white;

  .container {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

mat-drawer-container {
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  mat-drawer-content {
    width: 100%;
    max-width: 632px;
    overflow-y: auto;
    scrollbar-width: none;
  }

  mat-drawer {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 300px;

    a {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      mat-icon {
        margin-right: 16px;
        font-size: 24px;
        width: 24px;
        height: 24px;
      }
    }
  }
}
