<h1 mat-dialog-title>Validate New Source</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput required [formControl]="desc" />
    <mat-hint>A short sentence that describes this source</mat-hint>
  </mat-form-field>
  <p>{{ data.sourceText }}</p>
  <strong>Associations:</strong>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let item of data.newItems">
      <mat-expansion-panel-header>
        <mat-icon style="margin-right: 16px">add</mat-icon>
        {{ item.name }} (new)
      </mat-expansion-panel-header>
      {{ item.desc }}
      <mat-list>
        <mat-list-item *ngFor="let attribute of attributeItems(item)">
          <strong>{{ attribute.key }}</strong
          >: {{ attribute.value }}
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
    <mat-expansion-panel *ngFor="let item of data.existingItems">
      <mat-expansion-panel-header>
        <mat-icon style="margin-right: 16px">link</mat-icon>
        {{ item.name }} (existing)
      </mat-expansion-panel-header>
      {{ item.desc }}
      <mat-list>
        <mat-list-item *ngFor="let attribute of attributeItems(item)">
          <strong>{{ attribute.key }}</strong
          >: {{ attribute.value }}
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div mat-dialog-actions style="justify-content: flex-end">
  <button mat-stroked-button (click)="discard()">Discard</button>
  <button
    mat-raised-button
    color="accent"
    [disabled]="desc.invalid"
    (click)="accept()"
  >
    Accept
  </button>
</div>
