<mat-form-field>
  <textarea
    matInput
    placeholder="Your prompt goes here..."
    [formControl]="prompt"
  ></textarea>
</mat-form-field>
<span
  *ngIf="isLoading"
  style="
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 22px;
  "
>
  <mat-spinner></mat-spinner>
</span>
<button
  mat-raised-button
  color="accent"
  [disabled]="isLoading || (prompt.value?.length ?? 0) < 10"
  (click)="generate()"
>
  <mat-icon>auto_awesome</mat-icon>
  Generate
</button>
