<app-vertical-page
  [backButton]="true"
  [header]="mode.value === 'write' ? 'Add Source' : 'Generate Source'"
>
  <div page>
    <mat-button-toggle-group [formControl]="mode">
      <mat-button-toggle value="write">Write</mat-button-toggle>
      <mat-button-toggle value="generate">Generate</mat-button-toggle>
    </mat-button-toggle-group>
    <app-generate-source
      *ngIf="mode.value === 'generate'"
    ></app-generate-source>
    <app-write-source *ngIf="mode.value === 'write'"></app-write-source>
  </div>
</app-vertical-page>
