:host {
  display: contents;
}

mat-button-toggle-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  mat-button-toggle {
    flex: 1;
  }
}

.hidden {
  display: none;
}
