<app-vertical-page url="/dashboard" [createButton]="true">
  <div page>
    <mat-button-toggle-group [formControl]="type">
      <mat-button-toggle
        *ngFor="let option of typeOptions"
        [value]="option.value"
      >
        <mat-icon *ngIf="option.value === 'source'">description</mat-icon>
        {{ option.label }}</mat-button-toggle
      >
    </mat-button-toggle-group>
    <mat-form-field>
      <input matInput placeholder="Search" [formControl]="search" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <app-world-object-list
      [class.hidden]="hideWorldObjects$ | async"
      [items]="worldObjects$ | async"
    ></app-world-object-list>
    <mat-accordion [class.hidden]="hideSources$ | async">
      <mat-expansion-panel #panel *ngFor="let item of sources$ | async">
        <mat-expansion-panel-header>
          {{ item.summary }}
        </mat-expansion-panel-header>
        <p>{{ item.content }}</p>
        <app-world-object-list
          *ngIf="panel.expanded"
          [items]="itemsForSource(item.id) | async"
        >
        </app-world-object-list>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-paginator
      [pageSize]="10"
      [length]="limit$ | async"
      (page)="pageChanged($event)"
    >
    </mat-paginator>
  </div>
</app-vertical-page>
